- 
  const dataItem = [ 
    "Получив полную карту действий, вы <b>сможете регулировать каждый процесс в бизнесе</b>", 
    "Налаживаются системные продажи, выстраивается эффективная аналитика",
    "Клиентская база постоянно растёт, <b>риск ухода клиента минимизируется</b>",
    "Защищая клиентскую базу данных, вы <b>предотвратите риск утечки</b>",
    "Менеджеры начинают вести контроль звонков, что позволяет <b>ускорить время обработки обращения в 16 раз</b>",
    "Происходит <b>автоматизация рутинных процессов</b>, что позволяет <b>сэкономить до 20% всего времени</b>",
  ]

section.advantages 
  .advantages__container.container
    .advantages__head.head 
      span Преимущества системы
      h2 Внедрение нашей CRM-системы, способно <b>за 3 месяца увеличить прибыль вашей компании на 36% и более</b> 
    .advantages__body 
      each val, index in dataItem 
        div(class="advantages__body-item" data-animate-on-scroll)
          img(src=`./img/icon-a-${index+1}.png`)
          p!= val
    .advantages__body--swiper.swiper-container
      .swiper-wrapper
        each val, index in dataItem 
          .advantages__body-item.swiper-slide
            img(src=`./img/icon-a-${index+1}.png`)
            p!= val
      .advantages__nav 
        .advantages__nav-prev.sw__prev
        .advantages__nav-pagination
        .advantages__nav-next.sw__next
