section.cases 
  .cases__container.container
    .cases__head.head 
      span Наши кейсы
      h2 <b>Находим и внедряем индивидуальные решения</b> независимо от сферы и размера компании
    div(class="cases__body" data-animate-on-scroll)
      .cases__swiper.swiper-container
        .cases__wrapper.swiper-wrapper
          .cases__item.swiper-slide
            .cases__item-left 
              h3 Красный пищевик
              span Белорусская кондитерская <br> компания, основанная в 1870 году

              p.otzov__text
                i “Повысили количество и качество выполнения стратегических задач и проектов за счет слаженной работы разных отделов. Настроили бизнес-процессы для прохождения всех этапов выпуска новой продукции. Для сотрудников организовали общение и выполнение задач в корпоративной сети и едином мессенджере”
              a(href="https://www.zefir.by", target="_blank", rel="noopener noreferrer") https://www.zefir.by
            .cases__item-right
              img(src="./img/OKR0RE11.png", alt="Красный пищевик")
          .cases__item.swiper-slide
            .cases__item-left 
              h3 Долина растений
              span Первый поставщик <br> растений в Белоруси
              p.otzov__text
                i “Объединили все каналы коммуникаций с клиентами: все социальные сети Instagram, VK, FB, Одноклассники, сайт и телефонию. Ежемесячно обрабатывают более 5000 обращений. Теперь все обращения, продажи и ведения клиентской базы в одном месте”
              a(href="https://www.dolinasad.by", target="_blank", rel="noopener noreferrer") https://www.dolinasad.by
            .cases__item-right
              img(src="./img/OKR0RE12.png", alt="Долина растений")
          .cases__item.swiper-slide
            .cases__item-left 
              h3 ООО БелРецикл
              span Комплекс по обращению <br> с отходами

              p.otzov__text
                i “Организовали контроль аренды 150 контейнеров, автоматизировали выставление счетов, контроль и планирование логистики транспорта. Подключили каналы продаж — несколько сайтов, телефонию, электронную почту. Оптимизировали процессы в продаже переработанных вторичных материалов. Внедрили систему управления складом и производством”
              a(href="https://www.белрецикл.бел", target="_blank", rel="noopener noreferrer") https://www.белрецикл.бел
            .cases__item-right
              img(src="./img/OKR0RE13.png", alt="ООО БелРецикл")
          .cases__item.swiper-slide
            .cases__item-left 
              h3 300 Магазин Garfield
              span Крупнейший интернет-магазин <br> 300 товаров

              p.otzov__text
                i “Полностью избавились от Ехсеl. Объединили в единую систему: интернет-магазин, систему учета товаров МойСклад, все каналы коммуникаций с клиентами телефония\соц.сети, систему логистики. Организовали системность в ведении базы клиентов, историю обращений и покупок. Задачи и чаты повысили эффективность и скорость коммуникаций сотрудников”
              a(href="https://www.garfield.by", target="_blank", rel="noopener noreferrer") https://www.garfield.by
            .cases__item-right
              img(src="./img/OKR0RE14.png", alt="300 Магазин Garfield")
      .cases__nav 
        .cases__prev.sw__prev
        .cases-pagination 
        .cases__next.sw__next
        