footer.footer   
  .footer__container.container 
    .footer__body 
      img(src="./img/logocrm.svg", alt="Логотип компании")
      a(class="footer__body-policy" href="http://", target="_blank", rel="noopener noreferrer" ) Политика <br> конфиденциальности
      .footer__body-razrab 
        p Разработчик сайта — <br> <a href="https://t.me/kuzminaleksander" target="_blank">Александр Кузьмин</a>
      .footer__body-nav 
        h4 Разделы
        a(href="#quiz") Стоимость системы
        a(href="#connect") Внедрение
        a(href="#tarif") Тарифы
        a(href="#cases") Кейсы 
      .footer__body-contacts
        h4 Контакты
        a(href="tel:+74953084617") +7 (495) 308-46-17
        span г.Смоленск, ул.Фрунзе, д.44А
        a(href="mailto:sale@prostocrm.ru") sale@prostocrm.ru