section.form 
  .form__container.container
    div(class="form__body" data-animate-on-scroll)
      form  
        h3 Запишитесь на бесплатную онлайн консультацию, где:
        p мы поможем определиться с тарифом и подобрать нужный для вас вариант
        input(type="text" name="" placeholder="Введите ваше имя" class="input")
        input(type="tel" name="" placeholder="Введите номер телефона" class="input")
        input(type="email" name="" placeholder="Введите ваш E-мейл"  class="input")
        button(type="submit" class="btn btn-main ") записаться на консультацию
        span Нажимая на кнопку «Заказать консультацию», <br> вы принимаете <a href="/" target="_blank">политику конфиденциальности</a>
      .form__body-img 
        img(src="./img/expert.png", alt="Андрей Лапухин")