header.header
  .container.header__container
    .navbar
      img(src="./img/logocrm.svg" alt="Логотип компании")
      ul
        li
          a(href="#") Стоимость системы
        li
          a(href="#") Внедрение
        li
          a(href="#") Тарифы
        li
          a(href="#") Кейсы
      a(href="tel:+375297724825") 375 29 <b>&nbsp772-48-25</b>

    .header__body 
      .header__body-left 
        h1 <b>Получите инструмент по систематизации продаж в своём бизнесе с</b>
        .desc 
          p За 6 часов внедрим систему, которая позволит <b>автоматизировать работу и увеличить прибыль вашей компании</b>
        .header__privileges 
          .header__privileges-item
            img(src="./img/icon-h-1.svg")
            p <b>Выстраивание</b> <br> работы с клиентом
          .header__privileges-item
            img(src="./img/icon-h-2.svg")
            p <b>Внедрение</b> <br> эффективной аналитики
          .header__privileges-item
            img(src="./img/icon-h-3.svg")
            p <b>Создание</b> <br> системы маркетинга

        button(type="button" class="btn btn-main") Консультация с экспертом
      .header__body-right 
        img(src="./img/expert.png", alt="Андрей Лапухин")
        .header-parallax.parallax-scene
          div(class="header-parallax__item" data-depth="0.50")
            img(src="./img/plashka_header.svg", alt="")