header.header
  .container.header__container
    .navbar
      img(src="./img/logocrm.svg" alt="Логотип компании")
      ul
        li
          a(href="#quiz") Стоимость системы
        li
          a(href="#connect") Внедрение
        li
          a(href="#tarif") Тарифы
        li
          a(href="#cases") Кейсы
      .navbar__burger 
        input(type="checkbox" name="burger" id="burger")
        label(for="burger")
          .burger__icon
      a(href="tel:+375297724825") 375 29 <b>&nbsp772-48-25</b>
      .navbar__menu
        ul
          li
            a(href="#quiz") Стоимость системы
          li
            a(href="#connect") Внедрение
          li
            a(href="#tarif") Тарифы
          li
            a(href="#cases") Кейсы


    .header__body 
      div(class="header__body-left" data-animate-on-scroll)
        h1 <b>Получите инструмент по систематизации продаж в своём бизнесе с</b>
        .desc 
          p За 6 часов внедрим систему, которая позволит <b>автоматизировать работу и увеличить прибыль вашей компании</b>
        .header__privileges 
          .header__privileges-item
            img(src="./img/icon-h-1.svg")
            p <b>Выстраивание</b> <br> работы с клиентом
          .header__privileges-item
            img(src="./img/icon-h-2.svg")
            p <b>Внедрение</b> <br> эффективной аналитики
          .header__privileges-item
            img(src="./img/icon-h-3.svg")
            p <b>Создание</b> <br> системы маркетинга
        .header__body-left--mob 
          img(src="./img/expert.png", alt="Андрей Лапухин")
          .header-parallax.parallax-scene
            div(class="header-parallax__item" data-depth="0.50")
              img(src="./img/plashka_header.svg", alt="")
        a(href="#form" class="btn btn-main btn--strelki") Консультация с экспертом
      div(class="header__body-right" data-animate-on-scroll)
        img(src="./img/expert.png", alt="Андрей Лапухин")
        .header-parallax.parallax-scene
          div(class="header-parallax__item" data-depth="0.50")
            img(src="./img/plashka_header.svg", alt="")