section.notsystem 
  .notsystem__container.container
    .notsystem__head.head 
      span Отсутствие системы
      h2 <b>Трудности, с которыми сталкивается компания</b> без CRM системы 
    .notsystem__body 
      .notsystem__body-item
        h3 Сложности в управлении процессами 
        p Проанализировав не полную карту деятельности вашей компании, вы не сможете эффективно оценить работу бизнеса
      .notsystem__body-item
        h3 Множество <br> рутинных задач 
        p Не автоматизируя процессы, увеличивается количество рутинных задач, что приводит к увеличению затраченного времени и потере прибыли
      .notsystem__body-item
        h3 Отсутствие <br> системной работы
        p Не отслеживая работу менеджеров трудно определить на каком этапе продажи клиент теряет интерес и уходит, из-за чего есть риск потери клиентской базы