section.quiz 
  .quiz__container.container 
    .quiz__head.head 
      span Расчёт стоимости
      h2 <b>Ответьте на 5 вопросов</b> и мы подберём подходящий тариф (расчёт стоимости с настройкой системы)  
    .quiz__body
      .quiz__marquiz
      