- 
  const steps = [
    "Когда вы только <b>планируете приобрести CRM-систему</b> и не знаете, какой тариф выбрать",
    "Когда вы <b>приобрели систему</b>, но не знаете с чего начать",
    "Когда <b>менеджеры работают по старой схеме</b> и не понимают, как правильно использовать новые ресурсы",
    "Когда <b>требуется адаптировать систему</b> для целей и задач вашего бизнеса",
    "Когда <b>вы хотите получить полную карту действий</b> своего бизнеса",
  ]
section.steps 
  .steps__container.container
    .steps__head.head 
      span Этапы внедрения системы
      h2 <b>Мы занимаемся созданием и внедрением</b> CRM-системы Битрикс24 на любом этапе 
    .steps__body 
      each item, index in steps 
        div(class="steps__body-item" data-animate-on-scroll)
          h4= `0${index+1}`
          p!= item
      button(type="button" class="btn btn-main btn--strelki") заказать настройку