section.tarifs 
  .tarifs__container.container
    .tarifs__head.head#tarif
      span Тарифы
      h2 Предлагаем вам готовые решения, которые <b>подойдут для любого бизнеса и смогут увеличить количество клиентов на 30%</b>
    .tarifs__body 
      h4 Стоимость облачной CRM Битрикс24
      .tarifs__rozniza
        .rozniza__item.accent 
          .rozniza__head 
            h3 Бесплатный
            p Для организации работы <br> всей вашей компании
          .rozniza__body
            .rozniza__body-desc
              p.users неограниченно
              .price 
                h4 Бесплатно
                span за всех пользователей
              a(href="#form" class="btn btn-main btn--mini") Подробнее
              span.gb 5 Гб 

            ul
              li Совместная работа
              li Задачи и Проекты
              li CRM
              li Контакт-центр
              li Сайты
              li.off Интернет-магазин
              li.off Маркетинг
              li.off Документы онлайн
              li.off Сквозная аналитика
              li.off Автоматизация
              li.off HR
              br
              li.off Поддержка
              li.off Администрирование
        .rozniza__item 
          .rozniza__head 
            h3 Базовый
            p Для организации <br> работы отдела продаж
          .rozniza__body
            .rozniza__body-desc
              p.users.five пользователей
              .price 
                h4 1 494 ₽/мес.
                span за всех пользователей
              a(href="#form" class="btn btn-main btn--mini") Подробнее
              span.gb 24 Гб 

            ul
              li Совместная работа
              li Задачи и Проекты
              li CRM
              li Контакт-центр
              li Сайты
              li Интернет-магазин
              li.off Маркетинг
              li.off Документы онлайн
              li.off Сквозная аналитика
              li.off Автоматизация
              li.off HR
              br
              li Поддержка
              li.off Администрирование
        .rozniza__item 
          .rozniza__head 
            h3 Стандартный
            p Для организации работы <br> всей команды
          .rozniza__body
            .rozniza__body-desc
              p.users.fifty пользователей
              .price 
                h4 3 594 ₽/мес.
                span за всех пользователей
              a(href="#form" class="btn btn-main btn--mini") Подробнее
              span.gb 100 Гб 

            ul
              li Совместная работа
              li Задачи и Проекты
              li CRM
              li Контакт-центр
              li Сайты
              li Интернет-магазин
              li Маркетинг
              li Документы онлайн
              li.off Сквозная аналитика
              li.off Автоматизация
              li.off HR
              br
              li Поддержка
              li Администрирование
        .rozniza__item 
          .rozniza__head 
            h3 Профессиональный
            p Если вам необходима автоматизация всех процессов 
          .rozniza__body
            .rozniza__body-desc
              p.users неограниченно
              .price 
                h4 7 194 ₽/мес.
                span за всех пользователей
              a(href="#form" class="btn btn-main btn--mini") Подробнее
              span.gb 1 024 Гб 

            ul
              li Совместная работа
              li Задачи и Проекты
              li CRM
              li Контакт-центр
              li Сайты
              li Интернет-магазин
              li Маркетинг
              li Документы онлайн
              li Сквозная аналитика
              li Автоматизация
              li HR
              br
              li Поддержка
              li Администрирование
      .tarifs__rozniza--swiper.swiper-container
        .swiper-wrapper
          .rozniza__item.swiper-slide.accent 
            .rozniza__head 
              h3 Бесплатный
              p Для организации работы <br> всей вашей компании
            .rozniza__body
              .rozniza__body-desc
                p.users неограниченно
                .price 
                  h4 Бесплатно
                  span за всех пользователей
                a(href="#form" class="btn btn-main btn--mini") Подробнее
                span.gb 5 Гб 

              ul
                li Совместная работа
                li Задачи и Проекты
                li CRM
                li Контакт-центр
                li Сайты
                li.off Интернет-магазин
                li.off Маркетинг
                li.off Документы онлайн
                li.off Сквозная аналитика
                li.off Автоматизация
                li.off HR
                br
                li.off Поддержка
                li.off Администрирование
          .rozniza__item.swiper-slide  
            .rozniza__head 
              h3 Базовый
              p Для организации <br> работы отдела продаж
            .rozniza__body
              .rozniza__body-desc
                p.users.five пользователей
                .price 
                  h4 1 494 ₽/мес.
                  span за всех пользователей
                a(href="#form" class="btn btn-main btn--mini") Подробнее
                span.gb 24 Гб 

              ul
                li Совместная работа
                li Задачи и Проекты
                li CRM
                li Контакт-центр
                li Сайты
                li Интернет-магазин
                li.off Маркетинг
                li.off Документы онлайн
                li.off Сквозная аналитика
                li.off Автоматизация
                li.off HR
                br
                li Поддержка
                li.off Администрирование
          .rozniza__item.swiper-slide  
            .rozniza__head 
              h3 Стандартный
              p Для организации работы <br> всей команды
            .rozniza__body
              .rozniza__body-desc
                p.users.fifty пользователей
                .price 
                  h4 3 594 ₽/мес.
                  span за всех пользователей
                a(href="#form" class="btn btn-main btn--mini") Подробнее
                span.gb 100 Гб 

              ul
                li Совместная работа
                li Задачи и Проекты
                li CRM
                li Контакт-центр
                li Сайты
                li Интернет-магазин
                li Маркетинг
                li Документы онлайн
                li.off Сквозная аналитика
                li.off Автоматизация
                li.off HR
                br
                li Поддержка
                li Администрирование
          .rozniza__item.swiper-slide 
            .rozniza__head 
              h3 Профессиональный
              p Если вам необходима автоматизация всех процессов 
            .rozniza__body
              .rozniza__body-desc
                p.users неограниченно
                .price 
                  h4 7 194 ₽/мес.
                  span за всех пользователей
                a(href="#form" class="btn btn-main btn--mini") Подробнее
                span.gb 1 024 Гб 

              ul
                li Совместная работа
                li Задачи и Проекты
                li CRM
                li Контакт-центр
                li Сайты
                li Интернет-магазин
                li Маркетинг
                li Документы онлайн
                li Сквозная аналитика
                li Автоматизация
                li HR
                br
                li Поддержка
                li Администрирование
        .rozniza__nav
          .rozniza__nav-prev.sw__prev
          .rozniza__nav-pagination
          .rozniza__nav-next.sw__next
  .tarifs__opt
    h4.container Стоимость коробочной CRM Битрикс24
    .opt.container
      .opt__item 
        .opt__item-head 
          h3 Интернет-магазин + <br> CRM
          .price 
            p 89 100 ₽
            span лицензия
          .staff 
            p 12
            span число сотрудников
        ul 
          li Экстранет
          li eCommerce-платформа
          li.off Многодепартаментность
          li.off Веб-кластер
          li.off VIP поддержка 24/7
        a(href="#form" class="btn btn-main btn--mini") подробнее
      .opt__item 
        .opt__item-head 
          h3 Корпоративный портал
          .price 
            p 449 100 ₽
            span лицензия
          .staff 
            p 50-500
            span число сотрудников
        ul 
          li Экстранет
          li eCommerce-платформа
          li.off Многодепартаментность
          li.off Веб-кластер
          li.off VIP поддержка 24/7
        a(href="#form" class="btn btn-main btn--mini") подробнее
      .opt__item 
        .opt__item-head 
          h3#enterprise Энтерпрайз
          .price 
            p 899 100+ ₽
            span лицензия
          .price 
            p 359 100+ ₽
            span подписка на год
          .staff 
            p 1000+
            span число сотрудников
        ul 
          li Экстранет
          li eCommerce-платформа
          li.off Многодепартаментность
          li.off Веб-кластер
          li.off VIP поддержка 24/7
        a(href="#form" class="btn btn-main btn--mini") подробнее
    .tarifs__opt--swiper.swiper-container
      .swiper-wrapper
        .opt__item.swiper-slide 
          .opt__item-head 
            h3 Интернет-магазин + <br> CRM
            .price 
              p 89 100 ₽
              span лицензия
            .staff 
              p 12
              span число сотрудников
          ul 
            li Экстранет
            li eCommerce-платформа
            li.off Многодепартаментность
            li.off Веб-кластер
            li.off VIP поддержка 24/7
          a(href="#form" class="btn btn-main btn--mini") подробнее
        .opt__item.swiper-slide 
          .opt__item-head 
            h3 Корпоративный портал
            .price 
              p 449 100 ₽
              span лицензия
            .staff 
              p 50-500
              span число сотрудников
          ul 
            li Экстранет
            li eCommerce-платформа
            li.off Многодепартаментность
            li.off Веб-кластер
            li.off VIP поддержка 24/7
          a(href="#form" class="btn btn-main btn--mini") подробнее
        .opt__item.swiper-slide 
          .opt__item-head 
            h3#enterprise Энтерпрайз
            .price 
              p 899 100+ ₽
              span лицензия
            .price 
              p 359 100+ ₽
              span подписка на год
            .staff 
              p 1000+
              span число сотрудников
          ul 
            li Экстранет
            li eCommerce-платформа
            li.off Многодепартаментность
            li.off Веб-кластер
            li.off VIP поддержка 24/7
          a(href="#form" class="btn btn-main btn--mini") подробнее
      .opt__nav 
        .opt__nav-prev.sw__prev
        .opt__nav-pagination
        .opt__nav-next.sw__next