section.tarifs 
  .tarifs__container.container
    .tarifs__head.head 
      span Тарифы
      h2 Предлагаем вам готовые решения, которые <b>подойдут для любого бизнеса и смогут увеличить количество клиентов на 30%</b>
    .tarifs__body 
      .tarif__rozniza
        .rozniza__item 
          .rozniza__head 
            h3 Бесплатно
            p Для организации работы <br> всей вашей компании
          .rozniza__body
            .rozniza__body-desc
              p.users.five пользователей
              .price 
                h4 Бесплатно
                span за всех пользователей
              button(type="button" class="btn btn-main btn--mini") Подробнее
              span.gb 5 Гб 

            ul
              li Совместная работа
              li Задачи и Проекты
              li CRM
              li Контакт-центр
              li Сайты
              li.off Интернет-магазин
              li.off Маркетинг
              li.off Сквозная аналитика
              li.off Автоматизация
              li.off HR
              br
              li.off Поддержка
              li.off Администрирование
      .tarif__opt